* {
    box-sizing: border-box;
}

/* Style the body */
body {
    font-family: Arial;
    margin: 0;
}

/* Header/logo Title */
.header {
    padding: 30px;
    text-align: center;
    background: #bc509c;
    color: white;
}

.note {
    background:yellow;
    padding:5px;
}
/* Try out this to close it: https://codepen.io/paulobrien/pen/tpmAi */

.note h4 {
    text-align: center;
}

/* Style the top navigation bar */
.navbar {
    display: flex;
    background-color: #222;
}

/* Style the navigation bar links */
.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

/* Change color on hover */
.navbar a:hover {
    background-color: #ccc;
    color: black;
}

/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Main column */
.main {
    flex: 60%;
    background-color: white;
    padding: 20px;
}

/* Sidebar/right column */
.side {
    flex: 40%;
    background-color: #f1f1f1;
    padding: 0px;
    overflow: hidden;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

.footer a {
    color: black;
    text-decoration: none;
    font-size: small;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row, .navbar {
        flex-direction: column;
    }
}

.create_form {
    display: flex;
    flex-direction: column;
}

.create_form input {
    margin-right: auto;
}

.create_form input[type=submit] {
    margin-top: 10px;
}

.mapframe {
    border: 0px none;
    position: relative;
    left: -50px;
    top: -52px;
    width: 110%;
    height: 120%;
}
