{% extends "layout.html" %}
{% block title %}Radera användarkonto{% endblock %}
{% block header %}Radera användarkonto{% endblock %}
{% block content %}
<div class="row">
    <div class="main">
        <h2>Radera ditt användarkonto</h2>
        <h4>OBS! Om du raderar ditt användarkonto kommer du inte notifieras om dina byggärenden längre!</h4>
        <form class="delete_form" method="post">
            <input type="hidden" name="action" value="delete">
            {% if token == '' %}
            <label for="token">token:</label>
            {% endif %}
            <input type="{{ 'text' if token == '' else 'hidden' }}" id="token" name="token" placeholder="token"
                   value="{{ token }}" required>
            <input type="submit" value="Bekräfta raderingen" title="bekräfta raderingen">
        </form>
    </div>
</div>
{% endblock %}
