<!DOCTYPE html>
<html>
<head>
    <title>Email Template Preview</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
      .container {
        max-width: 500px;
        padding-top: 100px;
      }



    </style>
</head>
<body>
<div><h1>Email Template Preview</h1></div>
<div>
    <p>Available templates:</p>
    <ul>
        {% for template in templates %}
        <li><a href="{{ template }}"><strong>{{ template }}</strong>
            (subject: {{ default_data[template].get('subject', '') }})</a></li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
